@import "../framework/css/layout.css";
@import "../framework/css/template.css";

body {
  font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

/* Styling the navigationbar to match with device width */
.paper-header {
  background-color: #1B5E20;
}

#welcome {
  height: 500px;
  background-color: #1B5E20;
  display: none;
  z-index: 1;
  align-items: center;
  padding: 300px 100px 0 100px;
}

#welcome span {
  color: white;
  font-size: 2em;
}

.navigationbar-button {
  background: none;
  color: blue;
  margin: 0;
}

h1 {
  font-family: 'Pacifico', cursive;
}

/* Styling the main content */

.content {
  max-width: 1000px;
  margin: 0 auto;
}

.featureCard {
  background: white;
  margin: 20px;
  border-radius: 2px;
  min-width: 290px;
}

.featureCard > header {
  padding: 14px 24px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  white-space: nowrap;
}

.featureCard .featureContent {
  max-width: 250px;
  width: 100%;
  padding: 10px;
}

.featureCard > paper-fab {
  width: 40px;
  height: 40px;
  padding: 8px;
  display: none;
  position:absolute;
  z-index: 1;
  right: 10px;
  top: 37px;
}

@media only screen and (max-width: 329px) {
  .featureCard {
    margin: 10px;
    min-width: 100%;
    overflow: auto;
    position: relative;
  }

  .featureCard > header {
    white-space: normal;
  }
}

#fabContainer {
  position: absolute;
  width: 100%;
}

#scrollToTop {
  position: absolute;
  bottom: 50px;
  right: 50px;
  display: none;
}
