<script>
  'use strict';

  document.addEventListener('WebComponentsReady', function() {

  });

  var eventListener = document.querySelector('#eventListener');
  eventListener.addEventListener('dom-change', function() {

  });

  eventListener.navigationbarScrollHandler = function(event) {
    var scroller = event.detail.target;
    if (scroller.scrollTop != 0) {
      $("#header-subtitle").hide();
      $("#profile-pict").width(50).height(50);
      $("#scrollToTop").show();
    } else {
      $("#header-subtitle").show();
      $("#profile-pict").width(100).height(100);
      $("#scrollToTop").hide();
    }
  }

  eventListener.scrollToTop = function() {
    var scroller = document.querySelector("#headerPanel").scroller;
    $(scroller).animate({scrollTop: 0}, "slow");
  }

  eventListener.featureToggle = function(event) {
    var header = event.target.parentElement;
    var card = header.parentElement;
    var collapseContent = card.querySelector(".featureCollapse");
    collapseContent.toggle();

    // Animating the navigation Fab icon
    if (collapseContent.opened) {
      var navFab = document.createElement("paper-fab");
      navFab.icon = "arrow-forward";
      card.appendChild(navFab);
      $(navFab).animate({opacity: "show"});
    } else {
      var navFab = card.querySelector("paper-fab");
      $(navFab).animate({opacity: "hide"}, function() {
        this.remove();
      });
    }
  }
</script>
