<script>
  'use strict';

  document.addEventListener('WebComponentsReady', function() {

  });

  var eventListener = document.querySelector('#eventListener');
  eventListener.addEventListener('dom-change', function() {

  });

  eventListener.navigationbarScrollHandler = function(event) {
    var scroller = event.detail.target;
    if (scroller.scrollTop != 0) {
      $("#header-subtitle").hide();
      $("#profile-pict").width(50).height(50);
      $("paper-fab").show();
    } else {
      $("#header-subtitle").show();
      $("#profile-pict").width(100).height(100);
      $("paper-fab").hide();
    }
  }

  eventListener.scrollToTop = function() {
    var scroller = document.querySelector("#headerPanel").scroller;
    $(scroller).animate({scrollTop: 0}, "slow");
  }

  eventListener.featureToggle = function(event) {
    var header = event.target.parentElement;
    var card = header.parentElement;
    card.querySelector("iron-collapse").toggle();

    var navFab = document.createElement("paper-fab");
    console.log(navFab.width);
    navFab.icon = "arrow-forward";
    console.log(navFab.className);
    card.appendChild(navFab);
  }
</script>
