<script>
  'use strict';

  document.addEventListener('WebComponentsReady', function() {

  });

  var eventListener = document.querySelector('#eventListener');
  eventListener.addEventListener('dom-change', function() {

  });

  eventListener.navigationbarScrollHandler = function(event) {
    var scroller = event.detail.target;
    if (scroller.scrollTop != 0) {
      document.querySelector("#scrollToTop").style.display = "block";
      document.querySelector("#headerNavigation").classList.remove("tallHeader");
    } else {
      document.querySelector("#scrollToTop").style.display = "none";
      document.querySelector("#headerNavigation").classList.add("tallHeader");
    }
  }

  eventListener.scrollToTop = function() {
    var scroller = document.querySelector("#headerPanel").scroller;
    $(scroller).animate({scrollTop: 0}, "slow");
  }

  eventListener.featureToggle = function(event) {
    var header = event.target.parentElement;
    var card = header.parentElement;
    var collapseContent = card.querySelector(".featureCollapse");
    collapseContent.toggle();

    // Animating the navigation Fab icon
    if (collapseContent.opened) {
      var navFab = document.createElement("paper-fab");
      navFab.icon = "arrow-forward";
      card.appendChild(navFab);
      $(navFab).fadeIn();
    } else {
      var navFab = card.querySelector("paper-fab");
      $(navFab).fadeOut(function(){
        this.remove();
      });
    }
  }
</script>
